body { 
    font-family: 'Poppins';
}
.box {
    width:300px;
    height:300px;
    /* background-color:#d9d9d9; */
    position:fixed;
    margin-left:-300px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
}

h1 { 
    font-family: monaco, Consolas, Lucida Console, monospace; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    text-align:center;
}

.card:hover {
    background-color: lightblue;
}

.button {
    margin-top: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.card_width {
    width: 18rem;
}

.spacing {
    height: 10px;
}

.logout-btn{
    margin-left:330%;
}