body {
    background-image: url('../../assets/pokemon_background_faded.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins';
    /* header*/

}

a {
    text-decoration: none; 
}

.card_popup {
    max-width:70%; 
    height: auto;   
    
}


.modal_img {
    width: 40%; 
    height: auto; 
    margin-left: 30%; 
}

.card {
    /* float: left; */
    /* width: 20rem; */
    /* overflow:hidden; */
    float:left;

}

.layout {
    display:block;
    margin-left:6%;
}

.card_img {
    width: 40%;
}

.logout-btn{
    margin-left:330%;
}

.error_msg {
    position: fixed;
    top: 50%;
    left: 30%;
}