body {
    background-image: url('../../assets/pokemon_background_faded.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* display: block; */

}

a {
    text-decoration: none; 
}

.card_popup {
    max-width:70%; 
    height: auto;   
 
}

.modal_width {
    width: 25 rem;
}

.modal_img {
    width: 60%; 
    height: auto; 
    margin-left: 20%; 
}

.card {
    float: left;
    width: 25rem;
    /* overflow:hidden; */

}

.table {
    margin-left:6%;
}