<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>All Aboard S.S. Ann!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/shipping.css">

        <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="login.html">
            <img src="../assets/BF_Logo.png" height="70">
         </a>
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- list of cards -->
              <li class="nav-item">
                <a class="nav-link" href="Cards.html">Pokedex<span class="sr-only">(current)</span></a>
              </li>

              <!-- purchases -->
              <li class="nav-item">
                <a class="nav-link" href="buy_payment.html">Trainer's Coins</a>
              </li>

              <!-- shipping -->
              <li class="nav-item active">
                <a class="nav-link" href="buy_ship.html">S.S. Ann</a>
              </li>
              
            </ul>
          </div>
    </nav>

    <h1>Arriving Orders!</h1>
    <div id='confirm'></div>
    <br>
    <h1>Completed Orders</h1>
    <div id='completed'></div>
    <div id='msg'></div>

<script>
    // Helper function to display error message
    function showError(message) {
        // Display an error under the main container
        $('#msg')
            .append("<label>"+message+"</label>");
  
    }

    function confirm(shipping_id) {

            $(async() => {           
                var serviceURL = "http://127.0.0.1:5100/change-receive-status/"+String(shipping_id);
        
                try {
                    const response =
                    await fetch(
                    serviceURL, {
                                method: 'PUT',
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify({ 
                                    shipping_id:shipping_id,
                                    receive_status:"RECEIVED"
                                    })
                                }
                    );
                    console.log('U there?');
                    const result = await response.json();
                    if (response.status === 201) {
                        // success case
                        var data = result.data; //get data of new account
                        console.log(data);
                        // showMsg('Account created successfully :>');

                        //redirect to buy_sell.html
                        //<meta http-equiv="Refresh" content="0; url='buy_sell.html'" />
                        window.location.reload();


                        } else if (response.status == 500) {
                            // Cannot create account
                        
                            showError(result.message);
                        } else {
                            // unexpected outcome, throw the error
                            throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        showError
                        ('There is a problem logging in, please try again later.<br />' + error);
                    } // error
            });
            
        }

    $(async() => {           
        // Change serviceURL to your own
        var buyer_id = 1
        var serviceURL = "http://127.0.0.1:5400/display-cards-shipping-buyer/" + String(buyer_id);
        console.log(serviceURL);
 
        try {
            const response =
             await fetch(
               serviceURL, {method: 'GET'}
            );
            const result = await response.json();
             if (response.status === 200) {
                // success case
                if (result.code == 200){
                    var shippings_add_on = "";
                    var shippings = result.data.shippings_result.data.shippings; 

                    for (const shipping of shippings){
                        var shipping_id = shipping.shipping_id;
                        var image_path = shipping.card_display.image_path;
                        var pokemon_name = shipping.card_display.pokemon_name;
                        var pokemon_type = shipping.card_display.pokemon_type;
                        var description = shipping.card_display.description;
                        var card_details = shipping.card_display.card_details[0];
                        var payment_details = shipping.payment_details[0];

                        eachShipping = `<div class="col d-flex justify-content-center space_above">
                                            <div class="card card_box">
                                                <div class="card-body" >
                                                    <table>
                                                        <tr>
                                                            <td> 
                                                                <img class="card-img-top card_img" src="`+image_path+`" alt="Card image cap">
                                                            </td>

                                                            <td class="space"></td>
                                                            
                                                            <td class="card_details">
                                                                <h5 class="card-title">`+pokemon_name+`</h5>
                                                                <h6 class="card-subtitle mb-2">Sold by: `+card_details.seller_username+`</h6>
                                                                <h6 class="card-subtitle mb-2">Amount: SGD$`+payment_details.amount+`</h6>
                                                                <h6 class="card-subtitle mb-2">Description: `+description+`</h6>

                                                            </td>

                                                            <td class="space"></td>

                                                            <td>
                                                                <button id="`+shipping_id+`" type="button" class="btn btn-success width_btn" onClick="confirm(this.id)">Received!</button>
                                                            </td>

                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        `
                        shippings_add_on += eachShipping;

                    }                  
                    // add all the rows to the table
                    $('#confirm').append(shippings_add_on);
                }
                else {
                    $('#confirm').append(`<h3>No shipping yet!</h3>`);
                }
                } else if (response.status == 400) {
                    // No payments
                    $('#confirm').append(`<h3>No shipping yet!</h3>`);
                } else {
                    // unexpected outcome, throw the error
                    throw response.status;
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
    ('There is a problem retrieving payment data, please try again later.<br />' + error);
            } // error
    });

    $(async() => {           
        // Change serviceURL to your own
        var buyer_id = 1
        var serviceURL = "http://127.0.0.1:5400/display-cards-complete-buyer/" + String(buyer_id);
 
        try {
            const response =
             await fetch(
               serviceURL, {method: 'GET'}
            );
            const result = await response.json();
             if (response.status === 200) {
                // success case
                
                if (result.code == 200){
                    var shippings = result.data.shippings_result.data.shippings; 
                    var shippings_add_on = "";

                    for (const shipping of shippings){
                        var shipping_id = shipping.shipping_id;
                        var image_path = shipping.card_display.image_path;
                        var pokemon_name = shipping.card_display.pokemon_name;
                        var pokemon_type = shipping.card_display.pokemon_type;
                        var description = shipping.card_display.description;
                        var card_details = shipping.card_display.card_details[0];
                        var payment_details = shipping.payment_details[0];

                        eachShipping = `<div class="col d-flex justify-content-center space_above">
                                            <div class="card card_box">
                                                <div class="card-body" >
                                                    <table>
                                                        <tr>
                                                            <td> 
                                                                <img class="card-img-top card_img" src="`+image_path+`" alt="Card image cap">
                                                            </td>

                                                            <td class="space"></td>
                                                            
                                                            <td class="card_details">
                                                                <h5 class="card-title">`+pokemon_name+`</h5>
                                                                <h6 class="card-subtitle mb-2">Sold by: `+card_details.seller_username+`</h6>
                                                                <h6 class="card-subtitle mb-2">Amount: SGD$`+payment_details.amount+`</h6>
                                                                <h6 class="card-subtitle mb-2">Description: `+description+`</h6>

                                                            </td>

                                                            <td class="space"></td>

                                                            <td>
                                                                <h1>Complete already see for what</h1>
                                                            </td>

                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        `
                        shippings_add_on += eachShipping;

                    }                  
                    // add all the rows to the table
                    $('#completed').append(shippings_add_on);
                }
                else {
                    $('#completed').append(`<h3>No completed order yet!</h3>`);
                }
                } else if (response.status == 400) {
                    // No payments
                    $('#completed').append(`<h3>No completed order yet!</h3>`);
                } else {
                    // unexpected outcome, throw the error
                    throw response.status;
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
    ('There is a problem retrieving payment data, please try again later.<br />' + error);
            } // error
    });
    


</script>


</body>
</html>