<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/card_upload.css">
    <title>Document</title>
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="login.html">
         <img src="../assets/BF_Logo.png" height="70">
      </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <!-- purchases -->
            <li class="nav-item">
              <a class="nav-link" href="Payment.html">Trainer's Coins</a>
            </li>

            <!-- shipping -->
            <li class="nav-item">
              <a class="nav-link" href="Shipping.html">S.S. Ann</a>
            </li>

  </nav>


<body>


   <form class="box" action="Uploaded.html" method="GET">
      <div class="intro">
         <h1 class="welcome_msg1"> Welcome Trainer </h1>
         <h3 class="welcome_msg2"> Deposit Pokemon Here! </h3>

         <img src="../assets/download.png" class="download_img">
      </div>

      <div class="form-group ">
        <label for="poke_name">Name of Pokemon</label>
        <input type="text" class="form-control" id="poke_name" placeholder="Jiggly Puff">
      </div>

      <div class="form-group">
        <label for="poke_type">Type of Pokemon</label>
        <select class="form-control" id="poke_name">
          <option>Water</option>
          <option>Fire</option>
          <option>Normal</option>
          <option>Grass</option>
          <option>Eletric</option>
          <option>Ice</option>
          <option>Flying</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary mb-2 release_btn">Release pokemon!</button>  
    </form>
</body>
</body>
</html>