<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
 
    <title>Choose your Pokemon!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/cards.css">

        <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
   
</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="login.html">
            <img src="../assets/BF_Logo.png" height="70">
        </a>
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- list of cards -->
              <li class="nav-item active">
                <a class="nav-link" href="Cards.html">Pokedex<span class="sr-only">(current)</span></a>
              </li>

              <!-- purchases -->
              <li class="nav-item">
                <a class="nav-link" href="Payment.html">Trainer's Coins</a>
              </li>

              <!-- shipping -->
              <li class="nav-item">
                <a class="nav-link" href="Shipping.html">S.S. Ann</a>
              </li>

            </ul>
          </div>
    </nav>

    <div class="card-columns" id="cards">
    </div>                

    <div id='msg'></div>
   
    <script>
  
        // Helper function to display error message
        function showError(message) {
            // Display an error under the main container
            $('#msg')
                .append("<label>"+message+"</label>");
      
        }
        console.log('Hi');

        function chooseCard(card_id) {
            var price_chosen_card = document.getElementById(card_id).value;
            console.log(price_chosen_card);

            $(async() => {           
                var serviceURL = "http://127.0.0.1:5100/place-order";
                var buyer_id = 1;
                var quantity = 1
                console.log(serviceURL);
        
                try {
                    const response =
                    await fetch(
                    serviceURL, {
                                method: 'POST',
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify({ 
                                    buyer_id: buyer_id, 
                                    item: {card:{card_id:card_id,
                                                price:price_chosen_card},
                                            quantity:quantity}})
                                }
                    );
                    console.log('U there?');
                    const result = await response.json();
                    if (response.status === 201) {
                        // success case
                        var data = result.data; //get data of new account
                        console.log(data);
                        // showMsg('Account created successfully :>');

                        //redirect to buy_sell.html
                        //<meta http-equiv="Refresh" content="0; url='buy_sell.html'" />
                        window.location.replace("Payment.html");


                        } else if (response.status == 500) {
                            // Cannot create account
                        
                            showError(result.message);
                        } else {
                            // unexpected outcome, throw the error
                            throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        showError
                        ('There is a problem logging in, please try again later.<br />' + error);
                    } // error
            });
            
        }
      
        $(async() => {           
            // Change serviceURL to your own
            var serviceURL = "http://127.0.0.1:5300/display-cards";
            console.log(serviceURL);
     
            try {
                const response =
                 await fetch(
                   serviceURL, {method: 'GET'}
                );
                const result = await response.json();
                 if (response.status === 200) {
                    // success case
                    var cards = result.data.cards_result.data.cards; 
                    console.log(cards)
                    var card_add_on = "";
                    var count = 0;

                    for (const card of cards) {
                        // console.log(card)
                        var card_id = card.card_id;
                        var image_path = card.image_path;
                        var pokemon_name = card.pokemon_name;
                        var pokemon_type = card.pokemon_type;
                        var description = card.description;
                        var card_details = card.card_details[0];

                        eachCard = `<div class="card bg-light">
                                        <div class="card-body text-center">
                                            <img class="card-img-top" src="`+image_path+`" alt="Card image cap" >
                                            <br><br>
                                            <h5 class="card-title">`+pokemon_name+`</h5>
                                            <h6 class="card-subtitle mb-2">Type: `+pokemon_type+`<br>Amount: SGD$`+card_details.price+`</h6>

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal`+card_id+`">Find out more!</button>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="myModal`+card_id+`" role="dialog">
                                        <div class="modal-dialog">
                                        
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h3 class="modal-title">`+pokemon_name+`</h3>
                                            </div>
                                            <div class="modal-body" style="width: 25 rem;">
                                                <img class="card-img-top card_popup" src="`+image_path+`" alt="Card image cap">
                                            <h4 class="modal-title">`+pokemon_type+` Type</h4>
                                            <h5 class="modal-title">Price: $`+card_details.price+`</h5>
                                            <p> Sold By: `+card_details.seller_username+`</p>
                                            <p>`+description+`</p>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" id="`+card_id+`" value="`+card_details.price+`" onClick="chooseCard(this.id)" class="btn btn-warning">`+pokemon_name+`, I CHOOSE YOU</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                    `
                        card_add_on += eachCard;
                    }
                        // add all the rows to the table
                        $('#cards').append(card_add_on);
                    } else if (response.status == 404) {
                        // No cards
                        showError(result.message);
                    } else {
                        // unexpected outcome, throw the error
                        throw response.status;
                    }
                } catch (error) {
                    // Errors when calling the service; such as network error, 
                    // service offline, etc
                    showError
        ('There is a problem retrieving cards data, please try again later.<br />' + error);
                } // error
        });
      
      </script>      
</body>
</html>