<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Choose your Pokemon!</title>

    <style>
        body {
            background-image: url('../assets/pokemon_background_faded.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        a {
            text-decoration: none;
        }
        
    </style>
</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="login.html">Battle Frontier</a>
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- list of cards -->
              <li class="nav-item active">
                <a class="nav-link" href="Cards.html">Pokedex<span class="sr-only">(current)</span></a>
              </li>

              <!-- purchases -->
              <li class="nav-item">
                <a class="nav-link" href="Payment.html">Trainer's Coins</a>
              </li>

              <!-- shipping -->
              <li class="nav-item">
                <a class="nav-link" href="Shipping.html">S.S. Ann</a>
              </li>

              <!-- Uploaded! -->
              <li class="nav-item">
                <a class="nav-link" href="Uploaded.html">Uploaded!</a>
              </li>

               <!-- Uploaded! -->
               <li class="nav-item">
                <a class="nav-link" href="Uploaded.html">Uploaded!</a>
              </li>
            </ul>
          </div>
    </nav>
    
    
    

    <div class="col d-flex justify-content-center">
        <table>
            <tr>  
                <td >            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Find out more!</button>
                        </div>
                    </div>

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="modal-title">Charizard</h3>
                              <!-- <br><br> -->
                            </div>
                            <div class="modal-body" style="width: 25 rem;">
                                <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" style="max-width:30%; height: auto; float: left; margin-right: 10px;">
                              <h4 class="modal-title">Fire Type</h4>
                              <h5 class="modal-title">Price: $50</h5>
                              <p> Sold By: Trainer Pood</p>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit animi iusto voluptatibus dolores ipsa et! Alias earum aliquid enim eius ut.</p>
                            </div>
                            <div class="modal-footer">
                              <a href="Payment.html"> <button type="button" class="btn btn-warning">Charizard, I CHOOSE YOU</button></a>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                </td>

                
    
                <td>            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td>  
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td >            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap">
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>  
                <td >            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td>            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td>  
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td >            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap">
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>  
                <td >            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td>            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td>  
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap" >
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
    
                <td >            
                    <div class="card bg-light" style="width: 18rem">
                        <div class="card-body text-center">
                            <img class="card-img-top" src="../assets/charizard.jpg" alt="Card image cap">
                            <br><br>
                            <h5 class="card-title">Charizard</h5>
                            <h6 class="card-subtitle mb-2">Amount: SGD$50</h6>
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                    </div>
                </td>
            </tr>
    
        </table>
    </div>
   

      

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>