<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> --> 

    <title>Trainer's Coin Pouch</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/payment.css">

        <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="login.html">
        <img src="../assets/BF_Logo.png" height="70">
     </a>
      
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- list of cards -->
              <li class="nav-item">
                <a class="nav-link" href="Cards.html">Pokedex<span class="sr-only">(current)</span></a>
              </li>

              <!-- purchases -->
              <li class="nav-item active">
                <a class="nav-link" href="Payment.html">Trainer's Coins</a>
              </li>

              <!-- shipping -->
              <li class="nav-item">
                <a class="nav-link" href="Shipping.html">S.S. Ann</a>
              </li>
              
            </ul>
          </div>
    </nav>
    
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script> -->

    <div id="new-payment">
    </div>

    <div id='msg'></div>


    <script>
        // Helper function to display error message
        function showError(message) {
            // Display an error under the main container
            $('#msg')
                .append("<label>"+message+"</label>");
      
        }
        console.log('Hi');

        $(async() => {           
            // Change serviceURL to your own
            var buyer_id = 1
            var serviceURL = "http://127.0.0.1:5400/display-cards-payment-buyer/" + String(buyer_id);
            console.log(serviceURL);
     
            try {
                const response =
                 await fetch(
                   serviceURL, {method: 'GET'}
                );
                const result = await response.json();
                 if (response.status === 200) {
                    // success case
                    var payment = result.data.payment_result.data; 
                    console.log(payment)
                    var payment_add_on = "";
                    var count = 0;

                    var payment_id = payment.payment_id;
                    var image_path = payment.card_display.image_path;
                    var pokemon_name = payment.card_display.pokemon_name;
                    var pokemon_type = payment.card_display.pokemon_type;
                    var description = payment.card_display.description;
                    var card_details = payment.card_display.card_details[0];
                    var payment_details = payment.payment_details[0];

                    eachPayment = `<div class="col d-flex justify-content-center space_above">
                                    <div class="card card_box">
                                        <div class="card-body" >
                                            <table>
                                                <tr>
                                                    <td> 
                                                        <img class="card-img-top card_img" src="`+image_path+`" alt="Card image cap">
                                                    </td>

                                                    <td class="space"></td>
                                                    
                                                    <td style="width: 60%">
                                                        <h5 class="card-title">`+pokemon_name+`</h5>
                                                        <h6 class="card-subtitle mb-2">Sold by: `+ card_details.seller_username +`</h6>
                                                        <h6 class="card-subtitle mb-2">Amount: SGD$`+payment_details.amount+`</h6>
                                                        <h6 class="card-subtitle mb-2">Description: `+description+`</h6>

                                                    </td>

                                                    <td class="space"></td>

                                                    <td>
                                                        <div id="paypal-button-container"></div>
                                                    </td>

                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                `
                    payment_add_on += eachPayment;
        
                        // add all the rows to the table
                        $('#new-payment').append(payment_add_on);
                    } else if (response.status == 404) {
                        // No payments
                        showError(result.message);
                    } else {
                        // unexpected outcome, throw the error
                        throw response.status;
                    }
                } catch (error) {
                    // Errors when calling the service; such as network error, 
                    // service offline, etc
                    showError
        ('There is a problem retrieving payment data, please try again later.<br />' + error);
                } // error
        });
        
    </script>

  
  

</body>
</html>

