<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Pokemon Center</title>

    <link rel="stylesheet" href="css/seller_order.css">

    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

</head>


<body>
          <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="login.html">
                <img src="../assets/BF_Logo.png" height="70">
             </a>
          
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
    
                    <!-- list of cards -->
                  <li class="nav-item">
                    <a class="nav-link" href="sell_card_upload.html">Upload Card!<span class="sr-only">(current)</span></a>
                  </li>
    
                  <!-- shipping -->
                  <li class="nav-item active">
                    <a class="nav-link" href="sell_order.html">Pokemon Center</a>
                  </li>
                  
                </ul>
              </div>
        </nav>
    


    <!-- To ship  -->
    <div id="to_ship">
        <h2>To Ship</h2>

        <!-- card to insert here -->
        <div>
            <div class="col d-flex justify-content-center space_above">
                <div class="card card_box">
                    <div class="card-body" >
                        <table>
                            <tr>
                                <td> 
                                    <img class="card-img-top card_img" src="https://assets.pokemon.com/assets/cms2/img/cards/web/SM9/SM9_EN_14.png" alt="Card image cap">
                                </td>
        
                                <td class="space"></td>
                                
                                <td class="card_details">
                                    <h5 class="card-title">Charizard</h5>
                                    <h6 class="card-subtitle mb-2">Sold by: BOB</h6>
                                    <h6 class="card-subtitle mb-2">Amount: SGD$ 50 </h6>
                                    <h6 class="card-subtitle mb-2">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit animi iusto voluptatibus dolores ipsa et! Alias earum aliquid enim eius ut.</h6>
        
                                </td>
        
                                <td class="space"></td>
        
                                <td>
                                    <button id="`+shipping_id+`" type="button" class="btn btn-success btn_ship">Shipped</button>
                                    <button id="`+shipping_id+`" type="button" class="btn btn-warning btn_ship">Didn't Ship</button>

                                </td>
        
                            </tr>
                        </table>
        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p></p>
    </div>
    
           <!-- card to insert here -->
           <div id="to_ship">
            <div class="col d-flex justify-content-center space_above">
                <div class="card card_box">
                    <div class="card-body" >
                        <table>
                            <tr>
                                <td> 
                                    <img class="card-img-top card_img" src="https://assets.pokemon.com/assets/cms2/img/cards/web/SM9/SM9_EN_14.png" alt="Card image cap">
                                </td>
        
                                <td class="space"></td>
                                
                                <td class="card_details">
                                    <h5 class="card-title">Charizard</h5>
                                    <h6 class="card-subtitle mb-2">Sold by: BOB</h6>
                                    <h6 class="card-subtitle mb-2">Amount: SGD$ 50 </h6>
                                    <h6 class="card-subtitle mb-2">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit animi iusto voluptatibus dolores ipsa et! Alias earum aliquid enim eius ut.</h6>
        
                                </td>
        
                                <td class="space"></td>
        
                                <td>
                                    <button id="`+shipping_id+`" type="button" class="btn btn-success btn_ship">Shipped</button>
                                    <button id="`+shipping_id+`" type="button" class="btn btn-warning btn_ship">Didn't Ship</button>

                                </td>
        
                            </tr>
                        </table>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div id="in_transit"> 
      <h2>In Transit</h2>

      <div class="col d-flex justify-content-center space_above">
          <div class="card card_box">
              <div class="card-body" >
                  <table>
                      <tr>
                          <td> 
                              <img class="card-img-top card_img" src="https://assets.pokemon.com/assets/cms2/img/cards/web/SM9/SM9_EN_14.png" alt="Card image cap">
                          </td>
  
                          <td class="space"></td>
                          
                          <td class="card_details">
                              <h5 class="card-title">Charizard</h5>
                              <h6 class="card-subtitle mb-2">Sold by: BOB</h6>
                              <h6 class="card-subtitle mb-2">Amount: SGD$ 50 </h6>
                              <h6 class="card-subtitle mb-2">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit animi iusto voluptatibus dolores ipsa et! Alias earum aliquid enim eius ut.</h6>
  
                          </td>
  
                          <td class="space"></td>
  
                          <td>
                              <img src="../assets/ship.png">

                          </td>
  
                      </tr>
                  </table>
  
                  </div>
              </div>
          </div>
      </div>
    </div>


    <div id="in_transit"> 
      <h2>Completed Wooohooo!</h2>

      <div class="col d-flex justify-content-center space_above">
          <div class="card card_box">
              <div class="card-body" >
                  <table>
                      <tr>
                          <td> 
                              <img class="card-img-top card_img" src="https://assets.pokemon.com/assets/cms2/img/cards/web/SM9/SM9_EN_14.png" alt="Card image cap">
                          </td>
  
                          <td class="space"></td>
                          
                          <td class="card_details">
                              <h5 class="card-title">Charizard</h5>
                              <h6 class="card-subtitle mb-2">Sold by: BOB</h6>
                              <h6 class="card-subtitle mb-2">Amount: SGD$ 50 </h6>
                              <h6 class="card-subtitle mb-2">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit animi iusto voluptatibus dolores ipsa et! Alias earum aliquid enim eius ut.</h6>
  
                          </td>
  
                          <td class="space"></td>
  
                          <td>
                              <img src="../assets/tick.png" style="width:10rem;">

                          </td>
  
                      </tr>
                  </table>
  
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div id='msg'></div>

    <script>
  
        // Helper function to display error message
        function showError(message) {
            // Display an error under the main container
            $('#msg')
                .append("<label>"+message+"</label>");
      
        }
        console.log('Hi');

        function chooseCard(card_id) {
            var temp = String(document.getElementById(card_id).value);
            var temp_list = temp.split("-");
            var price_chosen_card = temp_list[0];
            var seller_id = temp_list[1];

            $(async() => {           
                var serviceURL = "http://127.0.0.1:5100/place-order";
                var buyer_id = 1;
                var quantity = 1
                console.log(serviceURL);
        
                try {
                    const response =
                    await fetch(
                    serviceURL, {
                                method: 'POST',
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify({ 
                                    buyer_id: buyer_id, 
                                    item: {card:{card_id:card_id,
                                                price:price_chosen_card,
                                                seller_id: seller_id},
                                            quantity:quantity}})
                                }
                    );
                    // console.log('U there?');
                    const result = await response.json();
                    if (response.status === 201) {
                        // success case
                        var data = result.data; //get data of new account
                        console.log(data);
                        // showMsg('Account created successfully :>');

                        //redirect to buy_sell.html
                        //<meta http-equiv="Refresh" content="0; url='buy_sell.html'" />
                        window.location.replace("buy_payment.html");


                        } else if (response.status == 500) {
                            // Cannot create account
                        
                            showError(result.message);
                        } else {
                            // unexpected outcome, throw the error
                            throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        showError
                        ('There is a problem logging in, please try again later.<br />' + error);
                    } // error
            });
            
        }
 
      </script>      

</body>
</html>