<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BattleFrontier!</title>
</head>
<body>
    <!-- sign up details -->
    <form>
        <label for="username">Username:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="telehandle">Telehandle:</label><br>
        <input type="text" id="telehandle" name="telehandle"><br>

        <label for="email">Paypal Email:</label><br>
        <input type="text" id="email" name="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <br>
        <input type="submit" value="Submit">

        <!-- popup to confirm if they have added the telebot to their telegram -->

    </form>

    <p>Already have an account? <a href="./login.html">Login here!</a>
    </p>
</body>
</html>