<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Buy or sell?</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="./css/buy_sell.css">

        <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');</style>
</head>
<body>

    <a href="login.html"><button type="button" class="btn btn-secondary button">Back</button></a>
    <div class="box">
        <table >
            <tr>
                <td colspan="2">
                    <h1> Welcome Trainer! Whatchu doing tdy?</h1>
                </td>
            </tr>
            <tr class="spacing">

            </tr>
            <tr>
                <td>
                    <a id="buy" onClick="buy()">
                        <div class="card card_width">
                            <img src="../assets/evee.jpg" class="card-img-top" alt="Buy">
                            <div class="card-body">
                                <h1>BUY</h1>
                            </div>
                        </div>
                    </a>
                </td>
                

                <td>
                    <a id="sell" onclick="sell()">
                        <div class="card card_width">
                            <img src="../assets/magicarp.jpg" class="card-img-top" alt="Sell">
                            <div class="card-body">
                            <h1>SELL</h1>
                        </div>
                    </a>            
                   
                </td>
            </tr>
        </table>
    </div>

    <script>
        var queryString = decodeURIComponent(window.location.search);
        queryString = queryString.substring(1);
        var temp = queryString.split("=");
        var user_id = temp[1];

        function buy(){
            window.location.replace("cards.html?buyer_id="+user_id);
        }

        function sell(){
            window.location.replace("sell_card_upload.html?seller_id="+user_id);
        }

    </script>

</body>
</html>