<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="css/signup.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Join Us!</title>
</head>
<body>
  
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../assets/BF_Logo.png" id="icon" alt="User Icon" />
    </div>

    <table>
        <tr>
            <td>
                <img src="../assets/trainer.png" class="trainer_img">
            </td>
            
            <td>
                <h1> Welcome trainer! </h1>
                <!-- Login Form -->
                <div class="form_aligment">
                  <div class="form-group">
                    <input type="text" id="username" class="fadeIn second form-control" name="username" placeholder="username">
                  </div>
                  <div class="form-group">
                    <input type="text" id="telehandle" class="fadeIn second form-control" name="telegram_handle" placeholder="telegram handle">
                  </div>
                  <div class="form-group">
                    <input type="text" id="Paypal_Email" class="fadeIn second form-control" name="email" placeholder="paypal email">
                  </div>
                  <div class="form-group">
                    <input type="text" id="password" class="fadeIn third form-control" name="login" placeholder="password">
                  </div>          
                  <input type="submit" id='submit' class="fadeIn fourth" value="Join the Club!">
               
                </div>
            </td>
        </tr>
    </table>    

    
    <div id="msg">          
    </div>

    <!-- Sign Up Page Redirect -->
    <div id="formFooter">
      <a class="underlineHover" href="login.html">Already have an existing account? Login here!</a>
    </div>

   

  </div>    
</div>




<script>
  
        // Helper function to display error message
        function showMsg(message) {
            // Display an error under the main container
            $('#msg')
                .append("<label>"+message+"</label>");

        }

        function login() {
          $("#msg").append(
            `
            <h4> Login Now! </h4>
            <form method="GET" action="login.html">
              <input type="submit" value="This way trainer!!!">
            </form>
            `
          )
        }

        $("#submit").click(function(){
            $("#msg").empty()
            // anonymous async function 
            // - using await requires the function that calls it to be async
            $(async() => {           
                var username = $('#username').val();
                var telehandle = $('#telehandle').val();
                var Paypal_email = $("#Paypal_Email").val();
                var password = $("#password").val();

                var serviceURL = "http://127.0.0.1:5000/add-user";
        
                try {
                    const response =
                    await fetch(
                    serviceURL, {
                                method: 'POST',
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify({ 
                                  username: username, 
                                  telehandle: telehandle, 
                                  Paypal_email: Paypal_email,
                                  password: password})
                                }
                    );
                    const result = await response.json();
                    if (response.status === 201) {
                        // success case
                        var data = result.data; //get data of new account
                        console.log(data);
                        // showMsg('Account created successfully :>');
                        login();
  

                        } else if (response.status == 400 || response.status == 500) {
                            // Cannot create account
                         
                            showMsg(result.message);
                        } else {
                            // unexpected outcome, throw the error
                            throw response.status;
                        }
                    } catch (error) {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        showMsg
            ('There is a problem creating account, please try again later.<br />' + error);
                    } // error
            });
        }); 
 
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>