<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Uploaded!</title>

    <link rel="stylesheet" href="css/uploaded.css">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');</style>

</head>
<body>
            <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="login.html">
              <img src="../assets/BF_Logo.png" height="50">
           </a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <!-- <h1> HEllo World  </h1> -->

            </div>
      </nav>


    <div class="box">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../assets/clap.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pokemon Uploaded!</h5>
              <p class="card-text">Now rest and relax while we find your pokemon a new trainer!</p>
            </div>
        </div>
    </div>

    <script>
      var queryString = decodeURIComponent(window.location.search);
        queryString = queryString.substring(1);
        var temp = queryString.split("=");
        var seller_id = temp[1];

          $('#navbarNav').append(`<ul class="navbar-nav">
                                  <!-- list of cards -->
                                  <li class="nav-item">
                                  <a class="nav-link" href="sell_card_upload.html?seller_id=${seller_id}">Upload Card!<span class="sr-only">(current)</span></a>
                                  </li>

                                  <!-- shipping -->
                                  <li class="nav-item active">
                                  <a class="nav-link" href="seller_order.html?seller_id=${seller_id}">Pokemon Center</a>
                                  </li>
                                  <!-- logout button-->
                                  <li class="nav-item logout-btn">
                                  <a class="nav-link" href="login.html" ><button class="btn btn-outline-danger" " type="submit">Logout</button></a>
                                  </li>
                                </ul>
                                `);
       

        
    </script>    
</body>
</html>